*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.wrapper video{
    width: 100%;
}